.Wedding img {
    width: 100%;
}

.Wedding .wedding-info {
    font-size: 42px;
    font-family: 'Italianno', cursive;
}

.Wedding .alert {
    font-size: 22px;
    margin-top: 0;
    padding-top: 0;
}