body {
  background: white;
  color: #333;
}

.App {
  font-family: 'Italianno', cursive;
}

.header {
  padding: 40px;
  background: #fafafd;
}

.header-logo {
  text-align: center;
  font-size: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
}

.header-logo:before, .header-logo:after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 2px #9f1d35 solid;
  top: 40px;
  width: 200px;
}
.header-logo:before {
  right: calc(50% + 220px);
}
.header-logo:after {
  left: calc(50% + 220px);
}

.header-logo .names {
  z-index: 2;
  padding: 0 30px;
}

.header-logo .date {
  font-size: 24px;
  color: #9f1d35;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.App .content {
  height: 400px;
  margin-top: 20px;
}

.page {
  margin-top: 30px;
  min-height: 500px;
  padding-top: 60px;
}

.flex-contain {
  display: flex;
}

.col {
  flex: 1;
}